@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body { 
    margin: 0;
    line-height: 1; 
    font-family: 'Montserrat', sans-serif;
    background-image: url(../images/respawn/main-bg.png);
    background-size: cover;
    box-shadow: inset 0 0 678px 586px rgba(29, 27, 40, 0.91);
}

.bold {
    font-weight: 700;
}

.flex-item:nth-child(2n) {
    box-sizing: border-box;
    margin: 0 75px;
    margin-top: 50px;
}

#spawn-select {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-block {
    width: 350px;
    height: 600px;
    background: #000;
    position: relative;
    z-index: 2;
}

.select-block::after {
    content: "";
    border-bottom: 5px solid #f13939;
    width: 390px;
    position: absolute;
    bottom: -20px;
    left: -20px;
    -webkit-box-shadow: 0px 0px 17px 7px #860202ba;
    -moz-box-shadow: 0px 0px 17px 7px #860202ba;
    box-shadow: 0px 0px 17px 7px #860202ba;
}

.last {
    background-image: url(../images/respawn/last-spawn.png);
    background-position: center center;
}

.home {
    background-image: url(../images/respawn/home-spawn.png);
    background-position: center center;
}

.org {
    background-image: url(../images/respawn/org-spawn.png);
    background-position: center center;
}

.title-block {
    background-color: #f13939;
    padding: 20px 0;
    position: absolute;
    top: 40%;
    left: 5%;
    width: 90%;
    transform: rotate(356deg);
}

.title-block .title-text > span {
    display: block;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}


.title-block .title-text > span:first-child {
    font-size: 32px;
    font-family: 'Russo One', sans-serif;
}

.button-block {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
}

.button-block button {
	font-family: 'Montserrat', sans-serif;
    border: 0;
    padding: 10px 55px;
    color: #fff;
    border-radius: 5px;
    background: #f13939;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 0px 17px 7px #860202ba;
    -moz-box-shadow: 0px 0px 17px 7px #860202ba;
    box-shadow: 0px 0px 17px 7px #860202ba;
}

.button-block button:hover {
    color: #FFF;
    background: rgba(149, 150, 153, 0.6);
    -webkit-box-shadow: 0px 0px 17px 7px rgba(160, 153, 147, 0.5);
    -moz-box-shadow: 0px 0px 17px 7px rgba(160, 153, 147, 0.5);
    box-shadow: 0px 0px 17px 7px rgba(160, 153, 147, 0.5);
}

.button-block button[disabled]:active,
.button-block button[disabled]:hover,
.button-block button[disabled]{
	cursor: not-allowed;
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #ffffff;

}

.disabled {
	filter: grayscale(100%);
}

#footer {
    opacity: 0.5;
    text-align: center;
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    color: #fff;
    width: 100%;
}